@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 3px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(linear,
      left bottom,
      left top,
      color-stop(0.44, #F3DFA0),
      color-stop(0.72, #e0c97f),
      color-stop(0.86, #c2ae6d));
}

@media (max-width: 1024px) {
  .hide-on-small {
      display: none;
  }
}

@media (max-width: 480px) { 
  .MuiTableRow-root {
    display: flex; 
    flex-direction: column; 
    margin-bottom: 1em; 
    border: 1px solid #ddd; 
    padding: 1em; 
  }
  .MuiTableHead-root {
    display: none; 
  }

  .MuiTableCell-root {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.5em 0; 
  }

  .MuiTableCell-root::before {
    content: attr(data-label);
    font-weight: bold;
    margin-right: 10px;
  }
}

